---
layout: default
title: Home
---

<section class="home">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <p>Home page</p>

      </div>
    </div>

  </div>
</section>
