<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/src/css/main.css' | prepend: site.baseurl }}?{{ site.time | date: site.date_formats.timestamp }}">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ '/src/images/favicon/favicon.ico' | prepend: site.baseurl }}">
</head>
