---
layout:    default
title:     "404: Page not found"
permalink: /404.html
---

<section class="errors">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">

        <h1 class="page-header">404: Page not found</h1>

        <p>Return <a href="{{ site.baseurl }}/">home</a> to continue your quest for the Holy Grail</p>

      </div>
    </div>

  </div>
</section>
